body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.nav-bar {
  float: right;
}
ul {
  list-style: none;
}
header {
  width: 100%;
}
.nav-bar .sign-in {
  background: #4887ef;
  margin-right: 20px;
  padding: 7px 15px;
  border-radius: 3px;
  font-weight: bold;
  color: white;
}
.links {
  color: #404040;
  float: right;
  margin-left: 20px;
  margin-right: 20px;
}
.images {
  text-align: center;
  display: block;
  margin: 0 auto;
  clear: both;
  padding-top: 112px;
  padding-bottom: 20px;
}

.form {
  text-align: center;
}

.buttons {
  text-align: center;
  margin-top: 10px;
  padding-top: 0px;
  margin-bottom: 300px;
  margin-left: 10px;
}
footer {
  background: #f2f2f2;
  border-top: solid 2px #e4e4e4;
  bottom: 0;
  padding-bottom: 0;
  width: 100%;
}

footer ul li {
  display: inline;
  color: #666666;
  font-size: 14px;
  padding: 13px;
}

footer ul {
  float: left;
  padding: 1px;
}

footer ul a:hover {
  text-decoration: underline;
}

.footer-right {
  float: right;
}
#form-search {
  width: 500px;
  line-height: 32px;
  padding: 20px 10px;
}

.form #form-search {
  padding: 0 8px;
}

.sign_in:hover {
  box-shadow: 1px 1px 5px #999;
}

.sign_in {
  color: #fff;
}
